<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Library Book Register</span>
    <span class="spacer"></span>
    <span>Dr. Ambedkar Govt. Law College, Puducherry</span>      
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group color="primary" backgroundColor="primary" >
  <mat-tab label="Home"> 
    <app-lib-detail>
    </app-lib-detail>
  </mat-tab>
  <mat-tab label="Member Data"> 
    <app-maintain-user>

    </app-maintain-user>
  </mat-tab>
  <mat-tab label="Books"> 
    <app-maintain-book>

    </app-maintain-book>
     </mat-tab>
</mat-tab-group>    

 




